.mainHome {
  .heading_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cta_add_passwords {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
